.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/10/a041624c1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/1c/e07636ad1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/2f/a0f111a11e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/42/509905e21e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/42/a01998d51d4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/45/f05bedba1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/4d/f063aabe1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/4e/407b7fc91d4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/4e/a0cd5be91e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/5a/4061919e1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/60/50d756bd1d4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/64/9095a95c1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/65/805003b71e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/65/b0a9bee51e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/67/80313fe11d4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/75/3002993d1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/78/7060bfec1d4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/81/a034d93c1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/89/a079cef31d4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/8b/701e27991e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/9b/d0c9bae01e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/ae/007faf7f1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/af/d087b7121e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/b1/404a4de51e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/bc/40c3aaab1d4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/c2/40c0918a1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/c9/c01974f21d4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/cb/006a491e1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/cd/a0d681d81e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/d3/a0b8eaf71d4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/d9/10736ac61d4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/e1/908106d81d4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/e8/60eb7c0e1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/f5/c0c76ad41e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.history/f6/7008c94e1e4e00131711b38fe2817fc6
.metadata/.plugins/org.eclipse.core.resources/.projects/XPDLParser/.indexes/e4/50/89/87/c0/2/history.index
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.projects/XPDLParser/.indexes/e4/50/89/87/c0/c1/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/XPDLParser/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/XPDLParser/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.jdt.core/299039179.index
